* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

nav {
    background-color: black;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    flex-grow: 1;
}

a {
    color: white;
    display: block;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 4px solid black;
}


a:hover {
    color: yellow;
    
}

section {
    padding-top: 30px;
    text-align: center;
}

.home_selected {
    border-bottom-color: red;
}

.news_selected {
    border-bottom-color: blue;
}

.contact_selected {
    border-bottom-color: violet;
}